.container {
    display: grid;
    grid-template-columns: repeat(3 auto);
    grid-template-rows: 3;
  }
  header {
    display: grid;
    grid-column: span 3;
    background: #398fc4;
    border-top:5px solid #154e6a ;
    border-bottom: 5px solid #154e6a;
    color: #ececec;
    padding: 0.5rem 25%;
    text-align: scroll;
   

  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;

  }
  main {
    display: grid;
    grid-column: span 2;
    background-color: aquamarine;
    border: 2px solid rgba(1, 1, 1, 0.907);
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
  }
  #upcoming-weather{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #previous-search {
  padding-left: 10px;
  }
  

p {
  text-align: center
}
